<h1>Pets</h1>

<div id="content">
    <% for pet in @pets %>
        <ul class="pet">
            <li>name: <%= pet.name %></li>
            <li>species: <%= pet.species %></li>
            <li>entry: <%= pet.entry %></li>
        </ul>
    <% end %>
</div>