<h1>Pets</h1>

<% for pet in @pets %>
    <div class="pet">
        <span>name: <%= pet.name %></span>
        <span>species: <%= pet.species %></span>
        <span>entry: <%= pet.entry %></span>
    </div>
<% end %>