<html>
    <head>
        <title>Animal Shelter</title>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
        </header>
        <nav>
            <ul>
                <li>
                    <a href="/">home</a>
                </li>
                <li>
                    <a href="/">home</a>
                </li>
                <li>
                    <a href="/">home</a>
                </li>
            </ul>
        </nav>
        <section>
            <%= yield %>
        </section>
    </body>
</html>