<h1>Add new pet</h1>

<form action="/pets" method="post">
    <label>
        <span>Name:</span> 
        <input type="text" name="name"/>  
    </label>
    <input type="submit" value="Adopt">
</form>