body {
    background-color: #7CE2FF;
    font-family: 'Roboto', sans-serif;
    line-height: 20px;
    font-size: 16px;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    padding:0;
    margin:0;
}

.grid_item a {
    color: #712da0;
    text-decoration: underline
}

.grid_item a:visited {
    color: #712da0;
}

header nav {
    align-self: flex-end;
    font-size: 1.5rem;
    width: 30rem;
}

header nav ul {
    margin: 0;
}

nav ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

section nav {
    width: 20rem;
    padding: 0;
    border-bottom: 3px solid black;
    margin-bottom: 8px;
}

nav a {
    color: black;
}

nav ul li a:hover {
    background: #712da0;
    color: white;
    border-radius: 3px;
}


li.selected a {
    color: white;
    background: #712da0;
    color: white;
    border-radius: 3px;
}

li.selected a:visited {
    color: white;
}

li.selected a:hover {
    background: black;
    color: white;
}

header {
    margin: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

header div div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header div h1 {
    margin: 0.5rem 0 0 0;
}

section {
    border-top: 3px black solid;
    border-bottom: 3px black solid;
    padding-top: 3rem;
    padding-bottom: 3rem;
    min-height: 70%;
}

section h1 {
    margin: 1rem 0 0 0;
}



#content {
    width: 80%;
    margin: auto;
}

#grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    align-items: stretch;
}

.grid_item {
    margin: 1rem 0.7rem 1rem 0;
    min-width: 18rem;
    min-height: 7rem;
    border: 1px black solid;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-col {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.flex-col > li {
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.pet_list {
    padding: 0;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    list-style-type: none;
}

form label {
    display: block;
}

form label span {
    display: inline-block;
    width: 20%;
    border-right: 2px black solid;
}

form select {
    display: inline-block;
}
