body {
    background-color: #7CE2FF;
    font-family: 'Roboto', sans-serif;
    line-height: 20px;
    font-size: 16px;
}

nav ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20rem;
    list-style-type: none;
}

section {
    border-top: 3px black solid;
    border-bottom: 3px black solid;
    padding-top: 3rem;
    padding-bottom: 3rem;
    min-height: 70%;
}

section h1 {
    margin: 0;
}

li.selected {
    background: black;
    color: white;
    border-radius: 3px;
}

#content {
    width: 80%;
    margin: auto;
}

#grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    align-items: stretch;
}

.grid_item {
    margin: 1rem 0.7rem 1rem 0;
    min-width: 18rem;
    min-height: 7rem;
    border: 1px black solid;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-col {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.flex-col > li {
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.pet_list {
    padding: 0;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    list-style-type: none;
}

.empty-line{
    height: 1.25rem;
}

form label {
    display: block;
}

form label span {
    display: inline-block;
    width: 20%;
    border-right: 2px black solid;
}

form select {
    display: inline-block;
}
