body {
    background-color: #7CE2FF;
    font-family: "Lucida Sans Unicode", "Lucida Grande";
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
    list-style-type: none;
    
}

section {
    border-top: 3px black solid;
    border-bottom: 3px black solid;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

section h1 {
    margin: 0;
}

#content {
    width: 80%;
    margin: auto;
}

#grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: stretch;
}

.grid_item {
    min-width: 30%;
    min-height: 7rem;
    border: 1px black solid;
    padding: 1rem 0 0 1rem;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

form label {
    display: block;
}

form label span {
    display: inline-block;
    width: 30%;
    border-right: 2px black solid;
}

form select {
    display: inline-block;
}
