body {
    background-color: #7CE2FF;
    font-family: "Lucida Sans Unicode", "Lucida Grande";
}

nav ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 10%;
    list-style-type: none;
    
}

section {
    border-top: 3px black solid;
    border-bottom: 3px black solid;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

section h1 {
    margin: 0;
}

#content {
    width: 80%;
    margin: auto;
}

#grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    align-items: stretch;
}

.grid_item {
    min-width: 18rem;
    min-height: 7rem;
    margin-right: 0.7rem;
    border: 1px black solid;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.grid_item > li {
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.pet_list {
    padding: 0;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    list-style-type: none;
}

form label {
    display: block;
}

form label span {
    display: inline-block;
    width: 20%;
    border-right: 2px black solid;
}

form select {
    display: inline-block;
}
