<%= erb :"pets/nav" %>
<h1><%= @kind.group_name %></h1>

<div id="grid">
    <% for @pet in @pets %>
        <ul class="grid_item">
            <%= erb :"pets/card" %>
            <li>
                <a href="/pets/<%= @pet.id %>">Show</a>
            </li>
        </ul>
    <% end %>
</div> 