<div id='content'>
    <h1>Pets</h1>

    <div id="grid">
        <% for @pet in @pets %>
            <ul class="grid_item">
                <%= yield %>
            </ul>
        <% end %>
    </div>
</div>