<%= erb :"pets/nav" %>
<h1>Pets</h1>

<div id="grid">
    <% for @pet in @pets %>
        <div class="grid_item">
            <ul class = "flex-col">
            <%= erb :"pets/card" %>
            </ul>
            <a href="/pets/<%= @pet.id %>">Show</a>
        </div>
    <% end %>
</div> 