<nav>
	<ul>
		<li class="<%= @selected['all']%>">
			<a href="/pets">All</a>
		<li>
		<% for kind in @kinds %>
		<li class="<%= @selected[kind.id]%>">
			<a href="/pets/filter/<%= kind.id %>"><%= kind.name%></a>
		</li>
		<% end %>
	</ul>
</nav>
