<h1>Add new pet</h1>

<form action="/pets" method="post">
    <label>
        <span>Name:</span> 
        <input type="text" name="name"/>  
    </label>
    <label>
        <span>Species:</span> 
        <select name="kind_id">
        <% for kind in @kinds %>
        	<option value = <%= kind.id %>><%= kind.name %></option>
        <% end%>
    	</select>
    </label>
    <input type="submit" value="Add">
</form>