<li>
    <span>Name:</span> 
    <span><%= @customer.name %></span>
</li>
<li>
    <span>Pets:</span> 
    <div class="pet_list">
    <% for pet in @customer.pets %>
        <li class="pet">
            <%= pet.name %>    
        </li>
    <% end %>
    </div>
</li>
