<h1>Add new customer</h1>

<form action="/customers" method="post">
    <label>
        <span>Name:</span> 
        <input type="text" name="name"/>  
    </label>
    <input type="submit" value="Add">
</form>